In [3]:
name = 'Zaid Kamil'
age = 3000
pi = 3.1415

In [1]:
a = 10 
type(a)

int

In [2]:
a = 1.24
type(a)

float

In [3]:
a = 'this is a string'
print(a)
print(type(a))

this is a string
<class 'str'>

In [6]:
a = True
b = False
print(a, b)
print(type(a), type(b))

True False
<class 'bool'> <class 'bool'>

In [7]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [10]:
flowers = ['lily', 'rose', 'lotus', 'tulip'] # square bracket
print(flowers)
print(type(flowers))

['lily', 'rose', 'lotus', 'tulip']
<class 'list'>

In [11]:
numbers = (2,3,5,61,2) # round bracket
print(numbers)
print(type(numbers))

(2, 3, 5, 61, 2)
<class 'tuple'>

In [12]:
evens = {2,4,6,8,10} # curly brace
print(evens)
print(type(evens))

{2, 4, 6, 8, 10}
<class 'set'>

In [13]:
info = {'name' : 'raj kumar', 'age' : 21, 'salary' : 20000} # curly brace
print(info)
print(type(info))

{'name': 'raj kumar', 'age': 21, 'salary': 20000}
<class 'dict'>

In [18]:
a = 1010.202020101020202020202020202020202020202020202020202020202020202020202020202010200301301203
print(a)
print(type(a))

1010.2020201010203
<class 'float'>

### arithmetic operaters

In [19]:
a = 15
b = 4

In [20]:
print( a + b )
print( a - b )
print( a * b )
print( a / b )  # float division
print( a % b )  # remainder
print( a // b ) # int division (quotient)
print( a ** b ) # exponentiation

19
11
60
3.75
3
3
50625

In [21]:
a += 5 # add five
print(a)

20

In [22]:
a == b # equality check

False

In [23]:
100 != 101

True

In [24]:
a > 5

True

In [25]:
x = 29

In [26]:
a > 3 and a > 5

True

In [27]:
a < 4 and a > 5

False

In [28]:
a > 3 or a > 5

True

In [29]:
a < 4 or a > 5

True

In [30]:
a < 4 or a < 5

False

In [32]:
not a < 5

True

In [3]:
x = 120
y = 120
z = 12

In [5]:
x == z

False

In [6]:
a = [1,2,3] # list
b = a # b is now referring to the same address and values
z = [1,2,3] # another list at diffrent memory location

In [8]:
print(a is b)  # true -> a and b point to same mem address
print(a is z)  # false -> a and z are different mem address
print(b is z)

True
False
False

In [11]:
colors = ['red', 'green', 'blue', 'brown']

print('pink' in colors)
print('Red' in colors)
print('red' in colors)
print('yellow' not in colors)

False
False
True
True